In [514]:
# imports
import pandas as pd
import numpy as np
import plotly.express as px
from sklearn.model_selection import train_test_split
from sklearn import datasets, metrics, model_selection, svm
from sklearn.preprocessing import OneHotEncoder
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing 
%matplotlib inline

In [515]:
df = pd.read_csv('Sales.csv')

df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [516]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [517]:
df.drop_duplicates()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [518]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [519]:
df['Item_Weight'].fillna(df['Item_Weight'].mean(),inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [520]:
df.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300000,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920000,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500000,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200000,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930000,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395000,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650000,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,12.857645,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200000,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200000,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350

In [521]:

d={}
d['Grocery Store']='Small'
d['Supermarket Type1']='Small'
d['Supermarket Type2']='Medium'
d['Supermarket Type3']='Medium'

def fillvalue(x):
        return d[x]


fk1=df['Outlet_Size'].isnull()
# print(fk1)

df.loc[fk1,'Outlet_Size']=df.loc[fk1,'Outlet_Type'].apply(lambda x: fillvalue(x))

df.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300000,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920000,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500000,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200000,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Small,Tier 3,Grocery Store,732.3800
4,NCD19,8.930000,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395000,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650000,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,12.857645,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200000,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,Small,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200000,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,Small,Tier 2,Supermarket Type1,4710.5350

In [522]:

df['Item_Fat_Content'] = df['Item_Fat_Content'].replace(['LF'],'Low Fat')
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace(['reg'],'Regular')
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace(['low fat'],'Low Fat')

print(df['Item_Fat_Content'].unique())


# print(df[84])
df.head(77)

['Low Fat' 'Regular']

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Small,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
72,FDH35,18.250,Low Fat,0.000000,Starchy Foods,164.7526,OUT045,2002,Small,Tier 2,Supermarket Type1,4604.6728
73,FDG02,7.855,Low Fat,0.011325,Canned,189.6188,OUT017,2007,Small,Tier 2,Supermarket Type1,2285.0256
74,NCZ18,7.825,Low Fat,0.186357,Household,254.3698,OUT049,1999,Medium,Tier 1,Supermarket Type1,5580.7356
75,FDC29,8.390,Regular,0.024206,Frozen Foods,114.0176,OUT046,1997,Small,Tier 1,Supermarket Type1,2290.3520
76,FDQ10,12.850,Low Fat,0.033231,Snack Foods,172.3422,OUT049,1999,Medium,Tier 1,Supermarket Type1,1207.0954

In [523]:
df['Outlet_Size'] = df['Outlet_Size'].replace(['High'],'Large')

df['Outlet_Size'].unique()

array(['Medium', 'Small', 'Large'], dtype=object)

In [524]:
change_lists = df.columns[df.dtypes == "object"].tolist()

change_lists.remove('Item_Identifier')
# print(change_lists)

for i in change_lists:
    df[i] = df[i].astype("category")

df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Small,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,Large,Tier 3,Supermarket Type1,994.7052

In [525]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   category
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   category
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   category
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   category
 9   Outlet_Location_Type       8523 non-null   category
 10  Outlet_Type                8523 non-null   category
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: category(6), float64(4), int64(1), object(1)
memory usage: 451.2+ KB

In [526]:
df.drop_duplicates()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Small,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,Large,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,Large,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,Small,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [527]:
df['Item_Weight'].info()
df['Item_Weight'] = df['Item_Weight'].map(lambda x: round(x,2))
df['Item_Visibility'] = df['Item_Visibility'].map(lambda x: round(x,3))

df.head()

<class 'pandas.core.series.Series'>
RangeIndex: 8523 entries, 0 to 8522
Series name: Item_Weight
Non-Null Count  Dtype
--------------  -----
8523 non-null   float64
dtypes: float64(1)
memory usage: 66.7 KB

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.017,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000,Fruits and Vegetables,182.0950,OUT010,1998,Small,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000,Household,53.8614,OUT013,1987,Large,Tier 3,Supermarket Type1,994.7052

In [528]:
df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.858153,0.066133,140.992782,1997.831867,2181.288914
std,4.225989,0.051588,62.275067,8.371760,1706.499616
min,4.550000,0.000000,31.290000,1985.000000,33.290000
25%,9.310000,0.027000,93.826500,1987.000000,834.247400
50%,12.860000,0.054000,143.012800,1999.000000,1794.331000
75%,16.000000,0.095000,185.643700,2004.000000,3101.296400
max,21.350000,0.328000,266.888400,2009.000000,13086.964800

In [529]:
df.drop_duplicates(inplace=True)
df1=df.duplicated()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   category
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   category
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   category
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   category
 9   Outlet_Location_Type       8523 non-null   category
 10  Outlet_Type                8523 non-null   category
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: category(6), float64(4), int64(1), object(1)
memory usage: 517.7+ KB

In [530]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   category
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   category
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   category
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   category
 9   Outlet_Location_Type       8523 non-null   category
 10  Outlet_Type                8523 non-null   category
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: category(6), float64(4), int64(1), object(1)
memory usage: 517.7+ KB

In [531]:
df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.858153,0.066133,140.992782,1997.831867,2181.288914
std,4.225989,0.051588,62.275067,8.371760,1706.499616
min,4.550000,0.000000,31.290000,1985.000000,33.290000
25%,9.310000,0.027000,93.826500,1987.000000,834.247400
50%,12.860000,0.054000,143.012800,1999.000000,1794.331000
75%,16.000000,0.095000,185.643700,2004.000000,3101.296400
max,21.350000,0.328000,266.888400,2009.000000,13086.964800

In [532]:
df.isna()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,False,False,False,False,False,False,False,False,False,False,False,False
8519,False,False,False,False,False,False,False,False,False,False,False,False
8520,False,False,False,False,False,False,False,False,False,False,False,False
8521,False,False,False,False,False,False,False,False,False,False,False,False
8522,False,False,False,False,False,False,False,False,False,False,False,False

In [533]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   category
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   category
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   category
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   category
 9   Outlet_Location_Type       8523 non-null   category
 10  Outlet_Type                8523 non-null   category
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: category(6), float64(4), int64(1), object(1)
memory usage: 517.7+ KB

In [534]:
df_num = df.select_dtypes(include = ['float64', 'int64'])
df_num.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
0,9.30,0.016,249.8092,1999,3735.1380
1,5.92,0.019,48.2692,2009,443.4228
2,17.50,0.017,141.6180,1999,2097.2700
3,19.20,0.000,182.0950,1998,732.3800
4,8.93,0.000,53.8614,1987,994.7052

In [535]:
columns = df.select_dtypes(['category']).columns
df[columns] = df[columns].apply(lambda x: x.cat.codes)


df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,0,0.016,4,249.8092,9,1999,1,0,1,3735.1380
1,DRC01,5.92,1,0.019,14,48.2692,3,2009,1,2,2,443.4228
2,FDN15,17.50,0,0.017,10,141.6180,9,1999,1,0,1,2097.2700
3,FDX07,19.20,1,0.000,6,182.0950,0,1998,2,2,0,732.3800
4,NCD19,8.93,0,0.000,9,53.8614,1,1987,0,2,1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.87,0,0.057,13,214.5218,1,1987,0,2,1,2778.3834
8519,FDS36,8.38,1,0.047,0,108.1570,7,2002,2,1,1,549.2850
8520,NCJ29,10.60,0,0.035,8,85.1224,6,2004,2,1,1,1193.1136
8521,FDN46,7.21,1,0.145,13,103.1332,3,2009,1,2,2,1845.5976
8522,DRG01,14.80,0,0.045,14,75.4670,8,1997,2,0,1,765.6700

In [536]:
enc=OneHotEncoder()
onehot1=pd.DataFrame(enc.fit_transform(df[['Outlet_Size']]).toarray())
  
df['Outlet_Large']=onehot1[0]
df['Outlet_Medium']=onehot1[1]
df['Outlet_Small']=onehot1[2]
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Outlet_Large,Outlet_Medium,Outlet_Small
0,FDA15,9.30,0,0.016,4,249.8092,9,1999,1,0,1,3735.1380,0.0,1.0,0.0
1,DRC01,5.92,1,0.019,14,48.2692,3,2009,1,2,2,443.4228,0.0,1.0,0.0
2,FDN15,17.50,0,0.017,10,141.6180,9,1999,1,0,1,2097.2700,0.0,1.0,0.0
3,FDX07,19.20,1,0.000,6,182.0950,0,1998,2,2,0,732.3800,0.0,0.0,1.0
4,NCD19,8.93,0,0.000,9,53.8614,1,1987,0,2,1,994.7052,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.87,0,0.057,13,214.5218,1,1987,0,2,1,2778.3834,1.0,0.0,0.0
8519,FDS36,8.38,1,0.047,0,108.1570,7,2002,2,1,1,549.2850,0.0,0.0,1.0
8520,NCJ29,10.60,0,0.035,8,85.1224,6,2004,2,1,1,1193.1136,0.0,0.0,1.0
8521,FDN46,7.21,1,0.145,13,103.1332,3,2009,1,2,2,1845.5976,0.0,1.0,0.0
8522,DRG01,14.80,0,0.045,14,75.4670,8,1997,2,0,1,765.6700,0.0,0.0,1.0

In [537]:
df.drop(['Outlet_Size'],axis=1)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Outlet_Large,Outlet_Medium,Outlet_Small
0,FDA15,9.30,0,0.016,4,249.8092,9,1999,0,1,3735.1380,0.0,1.0,0.0
1,DRC01,5.92,1,0.019,14,48.2692,3,2009,2,2,443.4228,0.0,1.0,0.0
2,FDN15,17.50,0,0.017,10,141.6180,9,1999,0,1,2097.2700,0.0,1.0,0.0
3,FDX07,19.20,1,0.000,6,182.0950,0,1998,2,0,732.3800,0.0,0.0,1.0
4,NCD19,8.93,0,0.000,9,53.8614,1,1987,2,1,994.7052,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.87,0,0.057,13,214.5218,1,1987,2,1,2778.3834,1.0,0.0,0.0
8519,FDS36,8.38,1,0.047,0,108.1570,7,2002,1,1,549.2850,0.0,0.0,1.0
8520,NCJ29,10.60,0,0.035,8,85.1224,6,2004,1,1,1193.1136,0.0,0.0,1.0
8521,FDN46,7.21,1,0.145,13,103.1332,3,2009,2,2,1845.5976,0.0,1.0,0.0
8522,DRG01,14.80,0,0.045,14,75.4670,8,1997,0,1,765.6700,0.0,0.0,1.0

In [538]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Outlet_Large,Outlet_Medium,Outlet_Small
0,FDA15,9.30,0,0.016,4,249.8092,9,1999,1,0,1,3735.1380,0.0,1.0,0.0
1,DRC01,5.92,1,0.019,14,48.2692,3,2009,1,2,2,443.4228,0.0,1.0,0.0
2,FDN15,17.50,0,0.017,10,141.6180,9,1999,1,0,1,2097.2700,0.0,1.0,0.0
3,FDX07,19.20,1,0.000,6,182.0950,0,1998,2,2,0,732.3800,0.0,0.0,1.0
4,NCD19,8.93,0,0.000,9,53.8614,1,1987,0,2,1,994.7052,1.0,0.0,0.0

In [539]:
def removeOutliers(dataframe):
    
    a1 = np.quantile(dataframe, 0.25)
    a2 = np.quantile(dataframe, 0.75)
    
    IQR = a2-a1
 
    low = a1 - 1.5 * IQR
    high = a2 + 1.5 * IQR
    
    return low,high
    
 

l1,h1=removeOutliers(df['Item_Outlet_Sales'])
df['Item_Outlet_Sales']= np.where(df['Item_Outlet_Sales']>h1,h1,df['Item_Outlet_Sales'])
df['Item_Outlet_Sales']= np.where(df['Item_Outlet_Sales']<l1,l1,df['Item_Outlet_Sales'])

# l2,h2=removeOutliers(df['Item_Visibility'])
# df['Item_Visibility']= np.where(df['Item_Visibility']>h2,h2,df['Item_Visibility'])
# df['Item_Visibility']= np.where(df['Item_Visibility']<l2,l2,df['Item_Visibility'])

In [540]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Outlet_Large,Outlet_Medium,Outlet_Small
0,FDA15,9.30,0,0.016,4,249.8092,9,1999,1,0,1,3735.1380,0.0,1.0,0.0
1,DRC01,5.92,1,0.019,14,48.2692,3,2009,1,2,2,443.4228,0.0,1.0,0.0
2,FDN15,17.50,0,0.017,10,141.6180,9,1999,1,0,1,2097.2700,0.0,1.0,0.0
3,FDX07,19.20,1,0.000,6,182.0950,0,1998,2,2,0,732.3800,0.0,0.0,1.0
4,NCD19,8.93,0,0.000,9,53.8614,1,1987,0,2,1,994.7052,1.0,0.0,0.0

In [541]:
normalize_numbers=['Item_Weight','Item_Visibility','Item_MRP','Outlet_Establishment_Year','Item_Outlet_Sales']
df[normalize_numbers]=(df[normalize_numbers]-df[normalize_numbers].min())/(df[normalize_numbers].max()-df[normalize_numbers].min())
 
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Outlet_Large,Outlet_Medium,Outlet_Small
0,FDA15,0.282738,0,0.048780,4,0.927507,9,0.583333,1,0,1,0.572281,0.0,1.0,0.0
1,DRC01,0.081548,1,0.057927,14,0.072068,3,1.000000,1,2,2,0.063404,0.0,1.0,0.0
2,FDN15,0.770833,0,0.051829,10,0.468288,9,0.583333,1,0,1,0.319078,0.0,1.0,0.0
3,FDX07,0.872024,1,0.000000,6,0.640093,0,0.541667,2,2,0,0.108075,0.0,0.0,1.0
4,NCD19,0.260714,0,0.000000,9,0.095805,1,0.083333,0,2,1,0.148628,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,0.138095,0,0.173780,13,0.777729,1,0.083333,0,2,1,0.424373,1.0,0.0,0.0
8519,FDS36,0.227976,1,0.143293,0,0.326263,7,0.708333,2,1,1,0.079769,0.0,0.0,1.0
8520,NCJ29,0.360119,0,0.106707,8,0.228492,6,0.791667,2,1,1,0.179301,0.0,0.0,1.0
8521,FDN46,0.158333,1,0.442073,13,0.304939,3,1.000000,1,2,2,0.280171,0.0,1.0,0.0
8522,DRG01,0.610119,0,0.137195,14,0.187510,8,0.500000,2,0,1,0.113221,0.0,0.0,1.0

In [542]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content                int8
Item_Visibility              float64
Item_Type                       int8
Item_MRP                     float64
Outlet_Identifier               int8
Outlet_Establishment_Year    float64
Outlet_Size                     int8
Outlet_Location_Type            int8
Outlet_Type                     int8
Item_Outlet_Sales            float64
Outlet_Large                 float64
Outlet_Medium                float64
Outlet_Small                 float64
dtype: object

In [543]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content                int8
Item_Visibility              float64
Item_Type                       int8
Item_MRP                     float64
Outlet_Identifier               int8
Outlet_Establishment_Year    float64
Outlet_Size                     int8
Outlet_Location_Type            int8
Outlet_Type                     int8
Item_Outlet_Sales            float64
Outlet_Large                 float64
Outlet_Medium                float64
Outlet_Small                 float64
dtype: object

In [544]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Outlet_Large,Outlet_Medium,Outlet_Small
0,FDA15,0.282738,0,0.048780,4,0.927507,9,0.583333,1,0,1,0.572281,0.0,1.0,0.0
1,DRC01,0.081548,1,0.057927,14,0.072068,3,1.000000,1,2,2,0.063404,0.0,1.0,0.0
2,FDN15,0.770833,0,0.051829,10,0.468288,9,0.583333,1,0,1,0.319078,0.0,1.0,0.0
3,FDX07,0.872024,1,0.000000,6,0.640093,0,0.541667,2,2,0,0.108075,0.0,0.0,1.0
4,NCD19,0.260714,0,0.000000,9,0.095805,1,0.083333,0,2,1,0.148628,1.0,0.0,0.0

In [545]:
df = df.drop('Item_Identifier',1)

C:\Users\DELL\AppData\Local\Temp\ipykernel_10536\3654019109.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop('Item_Identifier',1)

In [546]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8523 entries, 0 to 8522
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Weight                8523 non-null   float64
 1   Item_Fat_Content           8523 non-null   int8
 2   Item_Visibility            8523 non-null   float64
 3   Item_Type                  8523 non-null   int8
 4   Item_MRP                   8523 non-null   float64
 5   Outlet_Identifier          8523 non-null   int8
 6   Outlet_Establishment_Year  8523 non-null   float64
 7   Outlet_Size                8523 non-null   int8
 8   Outlet_Location_Type       8523 non-null   int8
 9   Outlet_Type                8523 non-null   int8
 10  Item_Outlet_Sales          8523 non-null   float64
 11  Outlet_Large               8523 non-null   float64
 12  Outlet_Medium              8523 non-null   float64
 13  Outlet_Small               8523 non-null   float64
dtypes: float64(8), int8(6)
memory usage: 649.2 KB

In [547]:
df.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Outlet_Large,Outlet_Medium,Outlet_Small
0,0.282738,0,0.048780,4,0.927507,9,0.583333,1,0,1,0.572281,0.0,1.0,0.0
1,0.081548,1,0.057927,14,0.072068,3,1.000000,1,2,2,0.063404,0.0,1.0,0.0
2,0.770833,0,0.051829,10,0.468288,9,0.583333,1,0,1,0.319078,0.0,1.0,0.0
3,0.872024,1,0.000000,6,0.640093,0,0.541667,2,2,0,0.108075,0.0,0.0,1.0
4,0.260714,0,0.000000,9,0.095805,1,0.083333,0,2,1,0.148628,1.0,0.0,0.0

In [548]:
df

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Outlet_Large,Outlet_Medium,Outlet_Small
0,0.282738,0,0.048780,4,0.927507,9,0.583333,1,0,1,0.572281,0.0,1.0,0.0
1,0.081548,1,0.057927,14,0.072068,3,1.000000,1,2,2,0.063404,0.0,1.0,0.0
2,0.770833,0,0.051829,10,0.468288,9,0.583333,1,0,1,0.319078,0.0,1.0,0.0
3,0.872024,1,0.000000,6,0.640093,0,0.541667,2,2,0,0.108075,0.0,0.0,1.0
4,0.260714,0,0.000000,9,0.095805,1,0.083333,0,2,1,0.148628,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,0.138095,0,0.173780,13,0.777729,1,0.083333,0,2,1,0.424373,1.0,0.0,0.0
8519,0.227976,1,0.143293,0,0.326263,7,0.708333,2,1,1,0.079769,0.0,0.0,1.0
8520,0.360119,0,0.106707,8,0.228492,6,0.791667,2,1,1,0.179301,0.0,0.0,1.0
8521,0.158333,1,0.442073,13,0.304939,3,1.000000,1,2,2,0.280171,0.0,1.0,0.0
8522,0.610119,0,0.137195,14,0.187510,8,0.500000,2,0,1,0.113221,0.0,0.0,1.0

In [549]:
y.head()

0    1
1    0
2    0
3    0
4    0
Name: Item_Outlet_Sales, dtype: category
Categories (2, object): ['0' < '1']

In [550]:
z=pd.cut(df.Item_Outlet_Sales,bins=[0,0.5,1],labels=['0','1']).head()

In [551]:
x=df.drop('Item_Outlet_Sales',1)
y=df['Item_Outlet_Sales']

C:\Users\DELL\AppData\Local\Temp\ipykernel_10536\1855236428.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  x=df.drop('Item_Outlet_Sales',1)

In [552]:
df

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Outlet_Large,Outlet_Medium,Outlet_Small
0,0.282738,0,0.048780,4,0.927507,9,0.583333,1,0,1,0.572281,0.0,1.0,0.0
1,0.081548,1,0.057927,14,0.072068,3,1.000000,1,2,2,0.063404,0.0,1.0,0.0
2,0.770833,0,0.051829,10,0.468288,9,0.583333,1,0,1,0.319078,0.0,1.0,0.0
3,0.872024,1,0.000000,6,0.640093,0,0.541667,2,2,0,0.108075,0.0,0.0,1.0
4,0.260714,0,0.000000,9,0.095805,1,0.083333,0,2,1,0.148628,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,0.138095,0,0.173780,13,0.777729,1,0.083333,0,2,1,0.424373,1.0,0.0,0.0
8519,0.227976,1,0.143293,0,0.326263,7,0.708333,2,1,1,0.079769,0.0,0.0,1.0
8520,0.360119,0,0.106707,8,0.228492,6,0.791667,2,1,1,0.179301,0.0,0.0,1.0
8521,0.158333,1,0.442073,13,0.304939,3,1.000000,1,2,2,0.280171,0.0,1.0,0.0
8522,0.610119,0,0.137195,14,0.187510,8,0.500000,2,0,1,0.113221,0.0,0.0,1.0

In [554]:
X_train, X_test, y_train, y_test = train_test_split(x,z, test_size=0.2, random_state=2)

ValueError: Found input variables with inconsistent numbers of samples: [8523, 5]

In [ ]:
X_train.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Outlet_Large,Outlet_Medium,Outlet_Small
7173,0.431548,1,0.173780,10,0.503597,8,0.5,2,0,1,0.0,0.0,1.0
3315,0.494643,0,0.000000,0,0.292228,5,0.0,1,2,3,0.0,1.0,0.0
5932,0.188690,0,0.146341,3,0.924536,8,0.5,2,0,1,0.0,0.0,1.0
7872,0.354167,0,0.161585,5,0.247850,8,0.5,2,0,1,0.0,0.0,1.0
5946,0.494643,1,0.719512,13,0.063032,4,0.0,2,0,0,0.0,0.0,1.0

In [ ]:
y_train.head()

7173    0.251866
3315    0.451855
5932    0.379805
7872    0.147702
5946    0.001956
Name: Item_Outlet_Sales, dtype: float64

In [ ]:
X_train.dtypes

Item_Weight                  float64
Item_Fat_Content                int8
Item_Visibility              float64
Item_Type                       int8
Item_MRP                     float64
Outlet_Identifier               int8
Outlet_Establishment_Year    float64
Outlet_Size                     int8
Outlet_Location_Type            int8
Outlet_Type                     int8
Outlet_Large                 float64
Outlet_Medium                float64
Outlet_Small                 float64
dtype: object

In [ ]:
y_train.dtypes

dtype('float64')

In [ ]:
#from sklearn import preprocessing
#from sklearn import utils

#lab_enc = preprocessing.LabelEncoder()
#encoded = lab_enc.fit_transform(y_train)

In [ ]:
y_train.dtypes

dtype('float64')

In [ ]:
y_train.head()

7173    0.251866
3315    0.451855
5932    0.379805
7872    0.147702
5946    0.001956
Name: Item_Outlet_Sales, dtype: float64

In [ ]:
from sklearn.linear_model import LogisticRegression
lr_model = LogisticRegression()
lr_model.fit(X_train, y_train)

ValueError: Unknown label type: 'continuous'

In [ ]:
y_pred = lr_model.predict(X_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(lr_model.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.97

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[1656    3]
 [  45    1]]

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.97      1.00      0.99      1659
           1       0.25      0.02      0.04        46

    accuracy                           0.97      1705
   macro avg       0.61      0.51      0.51      1705
weighted avg       0.95      0.97      0.96      1705